$bright-green: #00bd4f;
$dark-brown: #2b1f1f;
$moderate-green: #007c34;
$edited: #32c3dd;
$bright-brown: #382828;

.title{
    padding: 1em 0.3em 0 0.3em;
    font-size: 30px;
    font-weight: bold;
    color: white;
    display: flex;
    flex-direction: row;
    justify-items: flex-start
}

li{
    list-style: none;
    margin-top: 10px;
}

label{
    color: white;
    font-size: 20px;
    line-height: 40px;
}

table{
    
    table-layout:fixed;
    td:first-child{
        width: 150px;
    }
}

input{
    background: rgba($color: #ffffff, $alpha: 0.3);
    font-size: 20px;
    background: $dark-brown;
    border: 2px rgba($color: #ffffff, $alpha: 0.3) solid;
    padding: 0.3em;
    color: rgba($color: #ffffff, $alpha: 0.5);
}

.del_butt{
    width: 2.5em;
    height: 2.5em;
    cursor: pointer;
}

.line{
    display: flex;
    flex-direction: row;
}

.add_butt{
    cursor: pointer;
    height: 1em;
    width: 1em;
    padding-top: 5px;   
    margin-left: 10px;
}
svg{
    fill: $bright-green;
}

#image-tag{
    width:200px;
    height:200px;
}

#tag-options {
    font-size: 17px;
    background: rgb(201, 201, 201);
    color: $moderate-green;
}

#tag-options option{
    background: inherit;
    color: inherit;
}
