$bright-green: #00bd4f;
$dark-brown: #2b1f1f;
$moderate-green: #007c34;
$edited: #32c3dd;
$bright-brown: #382828;

.title{
    padding: 1em 0.3em 0 0.3em;
    font-size: 30px;
    font-weight: bold;
    color: white;
    display: flex;
    flex-direction: row;
    justify-items: flex-start
}

li{
    list-style: none;
    margin-top: 10px;
}

label{
    color: white;
    font-size: 20px;
    line-height: 40px;
}

table{
    
    table-layout:fixed;
    td:first-child{
        min-width: 150px;
        width: 25vw;
    }
}

input, textarea{
    border: 2px rgba($color: #ffffff, $alpha: 0.3) solid;
    padding: 5px;
    background: $dark-brown;
    width: 30vw;
    min-width: 120px;
    
}

input{
    font-size: 20px;
    color: rgba($color: #ffffff, $alpha: 0.5);
}

textarea{
    min-height: 50px;
    font-size: 12px;
    color: white;
}

textarea:focus, input:focus{
    border-color: orange;
    color: white;
}

.del_butt{
    width: 2.5em;
    height: 2.5em;
    cursor: pointer;
}

.line{
    display: flex;
    flex-direction: row;
}

.add_butt{
    cursor: pointer;
    height: 1em;
    width: 1em;
    padding-top: 5px;   
    margin-left: 10px;
}
svg{
    fill: $bright-green;
}

#image-tag{
    width:200px;
    height:200px;
}

#image-tag[src=""]{
    display: none;
}

#tag-options {
    font-size: 17px;
    background: rgb(201, 201, 201);
    color: $moderate-green;
}

#tag-options option{
    background: inherit;
    color: inherit;
}

.lyrics{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    flex-wrap: nowrap;
    font-size: 19px;
    color: $bright-green;
    
}

.pick-img-label{
    font-size: 20px;
    border: $bright-green 2px solid;
    padding: 0 3px 0 3px;
    font-weight: bolder;
    width: 200px;
    text-align: center;
}

.pick-img-label:hover{
    border-color: $edited;
    
}