<div class="title">
    Tags
    <img class="add_butt" src="../../../assets/images/plus-square-regular-green.svg">

</div> 
<ul>
    <li *ngFor="let tagAlias of tagNamesTypes">
        <table >
            <tr>
                <td class="line">
                    <img 
                    class="del_butt" 
                    src="../../../assets/images/delete_icon.png"
                     (click)="removeTag(tagAlias.name)">
                    <label [for]="tagAlias.name">
                        {{tagAlias.name | upperfirst}}
                    </label>
                </td>
                <td>
                    <input
                    *ngIf="tagAlias.type === 'string'"  
                    [name]="tagAlias.name" 
                    [id]="tagAlias.name" 
                    [(ngModel)]="tags[tagAlias.name]"/>
                    
                    <div *ngIf="tagAlias.type === 'image'">
                        <img [src]="image"/>
                    </div>
                </td>
            </tr>
        </table>
    </li>
</ul>