$bright-green: #00bd4f;
$dark-brown: #2b1f1f;
$moderate-green: #007c34;
$edited: #32c3dd;
.modal{
    top: 25%;
    left: 40%;
    transform: translate(-12.5vh, 12.5vh);
    font-size: 2vh;
    margin: 0 auto;
    position: fixed;
    color: rgb(199, 199, 199);
    font-size: 3vh;
    font-weight: bold;
    border: white solid 4px;
    border-radius: 5px;
    align-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 35vh;

    padding: 2em;
    .current{
        font-weight: 500;
        size: 1.5vh;
    }
    .spinner{
        margin-left: auto;
        margin-right: auto;
        width: 25vh;
        height: 25vh;
    }
    background: rgb(36, 36, 36);
}