@import '../../../assets/colors.scss';

.container{
    display: flex;
    align-content: unset;
    height: 100%;
    width: 100wh;
    margin-left:208px;
    flex-direction: row;
    margin-bottom: 11.5vh;
    
}


.path-title{
        text-align: center;
        padding-top: 0.6em;
        padding-bottom: 0.6em;
        text-shadow: $dark-brown 1px 1px 1px;
        color: wheat;
        background: rgba($color: #ffffff, $alpha: 0.3);
        font-size: 2vw;

        height: 50px;
        flex-direction: column;
        justify-content: center;
    }
.edit-window{
    display: flex;
    flex-direction: column;
    // align-content: center;
    overflow: hidden;
    // margin-top: 60px;

    width: 100vw;
}

.scrollpane{
    overflow: auto;

    height: 100%;
}

.footer{
    height: 15.5vmin;
    min-width: 300px;
    // position: fixed;
    width: 100%;

    // flex-basis: 80px;
    bottom:0;
    // height: 100px;
    display: flex;
    align-content: center;
    overflow: hidden;
    background: $pale-brown;
    z-index: 2;
    ul{
        display: flex;
        flex-direction: row;
        margin:1vh;
        padding-left: 0;
        li{
            margin-right: 0.5em;
            list-style: none;
            padding: 1vh 1vw;
            color: $dark-brown;
            font-weight: bold;
            font-size: 2.2vmin;
            border-radius: 5px;
            cursor: pointer;
            background: rgba($color: #ffffff, $alpha: 0.3);
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: border-color 0.25s color 0.25s background-color 0.25s;
            img{
                width: 5vmin;
                height: 5vmin;;
            }
        }
        li:hover{
            // color: rgba($color: #ffffff, $alpha: 0.3);
            background:$bright-green;

        }
    }
}



.invisible-button{
    visibility: hidden;
}


.container{
    margin-left:148px;
}

.path-title{
    font-size: 12px;
}

.footer ul li{
    font-size:10px;
}

.reverse-icon{
    transform: scaleX(-1);
}

.column{
    display: flex;
    flex-direction: column;
}