<div class="file-list">
    <div>
        <img 
            src="../../../assets/images/file-loading2.svg"
            id="file-loading-spinner"
            [ngClass]="{'hide-spinner': allFilesLoaded()}"
        />
        <div *ngIf="allFilesLoaded()" id="files-loaded-counter">
        {{
            filesEdited.length + '/' + pathEntries.length + ' files edited'
        }}
        
    </div>
    </div>
    <ul>
        <li *ngFor="let entry of pathEntries" (click)="selectEntry(entry)" 
        [ngClass]="{'selected': entry === selectedEntry,
        'edited': entry && entry.tagState.isEdited(), 
        'invisible-li': entry && !entry.tagState.tagsLoaded }"
        [title]="entry?.file.fileName"
            >
            <div>{{entry?.file.fileName.trim()}}</div>
        </li>  
        <!-- <li>04 - A Step Back.mp3</li>
            <li>04 - A Step Back.mp3</li>
            <li>04 - A Step Back.mp3</li>
            <li>04 - A Step Back allalalalalalalalal.mp3</li> -->
    </ul>
</div>
<div class="container">
    <div class="edit-window">
        <div class="path-title">
            {{ selectedEntry?.file.path}}
        </div>
        <div class="scrollpane">
        <div *ngIf="selectedEntry?.tagState.isEdited()">
            <app-tag-edit [entry]="selectedEntry"></app-tag-edit>
        </div>
        <div *ngIf="!selectedEntry?.tagState.isEdited()">
            <app-suggestions [song]="selectedEntry"></app-suggestions>
        </div>
        </div>
        <div class="footer">
            <ul>
                <li 
                    [ngClass]="{'invisible-button': selectedEntry && !selectedEntry.tagState.isEdited()}"
                    (click)="toSuggestions()"
                    >
                    <img src="../../../assets/images/curved-arrow.svg" class="reverse-icon" />
                    Back
                </li>
                <li (click)="prevSong()" >
                    <img src="../../../assets/images/circle_left.svg"/>
                    Previous
                </li>
                <li (click)="nextSong()" >
                    <img src="../../../assets/images/circle_right.svg" />
                    Next
                </li>
                <li (click)="saveChanges()">
                    <img src="../../../assets/images/save.svg"/>
                    Save Changes
                </li>
                <li (click)="toMainMenu()"><img src="../../../assets/images/ban-solid.svg" />
                    Cancel all</li>
            </ul>
        </div>
    </div>
    
</div>

<div *ngIf="saving">
<app-saving-modal [state]="savingState"></app-saving-modal>
</div>