$bright-green: #00bd4f;
$dark-brown: #2b1f1f;
$moderate-green: #007c34;
$edited: #32c3dd;
.container{
    display: flex;
    align-content: unset;
    height: 100vh;
    width: 100wh;
    flex-direction: row;
    margin: 0;
}


.file-list{
    // padding: 5px;
    float:left;
    height: 100vh;
    background: rgba(0,119,47,0.5);
    & ul{
        display: flex;
        flex-direction: column;
        height:100%;
        left:0;
        padding-top:2em;
        margin:0;
        padding-left: 4px;
        padding-right: 4px;
        
        & li{
            // text-align: center;
            white-space: nowrap;
            border-top: solid transparent 0.5em;
            border-bottom: solid transparent 0.5em;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 200px;
            text-decoration: none; 
            cursor: pointer;
            color: white;
        }

        li:hover{
            background: $bright-green;
            text-shadow: 1px 1px black;
        }

        li .edited{
            background: $edited;
            color: black;
        }

        li.selected{
            background: $bright-green;
            color: white;
            font-weight: bold;
            padding-bottom: 0.5em;
            padding-top: 0.5em;
        }
    }
}

.edit-window{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100vw;
    height: 100vh;
    
    .path-title{
        text-align: center;
        padding-top: 1em;
        padding-bottom: 1em;
        text-shadow: #00bd4f 1px 1px 1px;
        color: wheat;
        background: $edited;
    }
}