<app-song-list></app-song-list>
<div class="container">
    <div class="edit-window">
        <div class="path-title">
            {{ selectedEntry?.file.path}}
        </div>
        <div class="scrollpane">
        <div *ngIf="selectedEntry?.tagState.isEdited()">
            <app-tag-edit [entry]="selectedEntry"></app-tag-edit>
        </div>
        <div *ngIf="!selectedEntry?.tagState.isEdited()">
            <app-suggestions [song]="selectedEntry"></app-suggestions>
        </div>
        </div>
        <div class="footer">
            <ul>
                <li 
                    [hidden]='selectedEntry && !selectedEntry.tagState.isEdited()'
                    
                    (click)="toSuggestions()"
                    >
                    <img src="../../../assets/images/curved-arrow.svg" class="reverse-icon" />
                    Back
                </li>
                <li (click)="prevSong()" >
                    <img src="../../../assets/images/circle_left.svg"/>
                    Previous
                </li>
                <li (click)="nextSong()" >
                    <img src="../../../assets/images/circle_right.svg" />
                    Next
                </li>
                <li (click)="saveChanges()">
                    <img src="../../../assets/images/save.svg"/>
                    Save Changes
                </li>
                <li (click)="toMainMenu()"><img src="../../../assets/images/ban-solid.svg" />
                    Cancel all</li>
            </ul>
        </div>
    </div>
    
</div>

<div *ngIf="saving">
<app-saving-modal [state]="savingState"></app-saving-modal>
</div>