<div class = "title">
  Suggestions
</div>
<div class = "suggestion-container">
  <ul >
    <li *ngFor="let suggest of suggestions">
      <div class="li-content" (click)="toEdit(suggest)">
      <table>
        <tr>
          <th colspan=2>{{suggest.title}}</th>
        </tr>
        <tr> 
          <td>Title:</td>
          <td>{{suggest.getData().title}}</td>
        </tr> 
        <tr> 
          <td>Artist:</td>
          <td>{{suggest.getData().artist}}</td>
        </tr> 
      </table>
      </div>
    </li>
  </ul>
</div>