<div class = "title">
  Suggestions
</div>
<div class="filters-container">
  <ul>
    <li *ngFor="let filter of filters">
      <input type="checkbox"  
        [name]="filter.name" 
        [id]="filter.name"
        [(ngModel)]="filter.enabled"
        ng-true-value = "true"
        ng-false-value= "false"
        (change)="triggerChange(filter)"
        />
      <label [for]="filter.name">
        {{filter.description}}
      </label>
    </li>
  </ul>
</div>
<div class = "suggestion-container">
  <ul >
    <li *ngFor="let suggest of suggestions">
      <div 
      class="li-content" 
      *ngIf="suggest.getData()" 
      (click)="toEdit(suggest)">
       <div class="suggest-header"> {{suggest.title}} </div>
        <table>
        
        <tr> 
          <td>Title:</td>
          <td>{{suggest.getData() && suggest.getData().title}}</td>
        </tr> 
        <tr> 
          <td>Artist:</td>
          <td>{{suggest.getData() && suggest.getData().artist}}</td>
        </tr> 
      </table>
      </div>
    </li>
  </ul>
</div>