<ul class="control-buttons">
  <li class="del-butt" (click)="deleteAll()"><span>Remove All</span></li>
  <li class="confirm-butt"> 
    <a [routerLink]="['/display']"
     routerLinkActive="active" ><span>Edit tags </span></a></li>
</ul>
<div class="path-list-container">
  
  <ul>
    <li 
        *ngFor="let entry of pathEntries"
        [ngClass]="{false:'folder',true:'file'}[entry.isFile]"> 
        
      <img (click)="deleteEntry(entry)" 
      src="../../../assets/images/delete_icon.png"
      class="del-icon"/>{{entry.path}}
     </li >
  </ul>
</div>
